.btn {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s;
        position: relative;
        font-size: $default-font-size;

        //Change for the <button> element
        border: none;
        cursor: pointer;
    }
    
    // &:hover {
    // }
    
    // &:active,
    // &:focus {
    // }
    
    // &--white {
    //     // background-color: $color-white;
    //     // color: $color-grey-dark;
    // }

    // &--green {
    //     // background-color: $color-primary;
    //     // color: $color-white;
    // }
}

// .btn-text {
    
// }